@import './var';
footer{
    grid-area: footer;
    background-color: $main_color;
    width: 100%;
    min-height: 10vh;
    z-index: 1;
    position:absolute;
    top: 100%;
    // z-index: 1;
    padding: 12px;
    .bounce{
        animation: bounce 1s;
    }
}