@import "./var", './logo', './navBar', './header', './main', './footer';

#grilla{
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 1fr 1fr auto 1fr;
    grid-template-areas:
    'logo nav'
    'header header'
    'main main'
    'footer footer';
}