@import './var';

@media (max-width: $breakpoint_smallDevices){
    body{
        background-color: $main_color;
    }
    #logo{
        display: none;
        .icono{
            width: 35px;
        }
    }
    header{
        padding-bottom: 0!important;
        margin-bottom: 0!important;
        margin-top: 2rem;
        position: relative;
        font-size:small;
        h1{
            padding: 0!important;
            background-color: transparent;
        }
    }
    #navBar{
        align-items: center;
        // z-index: -1;
        .nav-link{
            border-radius: 20px;
            width: 40%;
            text-align: center;
        }
        .nav-link:hover{
            background-color: $text_color;
            color: $main_color;
            border-radius: 20px;
        }
        .slide-in-right{
            align-items: center;
        }
    }
    #grilla{
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas:
        'nav header'
        'main main'
        'footer footer'
        ;
    }
    main{
        background-image: none;
        min-height: 100vh;
        margin-top: 0px!important;
        .mobile{
            display: block;
        }
        .card{
            display: none;
        }
        .info{
            display: none!important;
        }
        .carrusel{
            display: flex!important;
        }
        .carousel{
            .carrousel_inner{
                width: 250px;
            }
        }
        .ghibliPark{
            width: 100%;
        }
        .responsiveCard{
            display: flex!important;
            justify-content: center;
            align-items: center;
            margin-left: 5rem;
        }
    }
    #accordionExample{
        margin-top: 0;
    }
}